[user]
	name = Amir H. Hashemi
	email = 87268103+amirhhashemi@users.noreply.github.com

[core]
	editor = nvim
	autocrlf = input
	compression = 9
	whitespace = error
	fsmonitor = true
	untrackedCache = true

[init]
	defaultBranch = main

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[pull]
	rebase = true

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[commit]
	verbose = true

[rerere]
	enabled = true
	autoUpdate = true

[help]
	autocorrect = prompt

[column]
	ui = auto

[url "git@github.com:"]
	insteadOf = "gh:"
