simplified_ui true
pane_frames false
theme "kanagawa-dragon"
default_layout "compact"

keybinds {
  normal clear-defaults=true {
    bind "Ctrl b" { SwitchToMode "Tmux"; }
    bind "Ctrl h" {
      MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
        name "move_focus_or_tab";
        payload "left";
        move_mod "ctrl";
      };
    }
    bind "Ctrl j" {
      MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
        name "move_focus";
        payload "down";
        move_mod "ctrl";
      };
    }
    bind "Ctrl k" {
      MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
        name "move_focus";
        payload "up";
        move_mod "ctrl";
      };
    }
    bind "Ctrl l" {
      MessagePlugin "https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm" {
        name "move_focus_or_tab";
        payload "right";
        move_mod "ctrl";
      };
    }
  }

  tmux clear-defaults=true {
    bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    bind "Esc" { SwitchToMode "Normal"; }
    bind "g" { SwitchToMode "Locked"; }
    bind "p" { SwitchToMode "Pane"; }
    bind "t" { SwitchToMode "Tab"; }
    bind "n" { SwitchToMode "Resize"; }
    bind "h" { SwitchToMode "Move"; }
    bind "s" { SwitchToMode "Scroll"; }
    bind "o" { SwitchToMode "Session"; }
    bind "q" { Quit; }
  }
}

plugins {
  tab-bar location="zellij:tab-bar"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  compact-bar location="zellij:compact-bar"
  session-manager location="zellij:session-manager"
  welcome-screen location="zellij:session-manager" {
    welcome_screen true
  }
  filepicker location="zellij:strider" {
    cwd "/"
  }
}

ui {
  pane_frames {
    hide_session_name true
  }
}
